<p id="notice"><%= notice %></p>

<h1>Trainings</h1>

<tbody>
  <%= link_to 'New Training', new_training_path %>
  <% @trainings.each do |training| %>
    <h1><a href=<%= training.website %>><%= training.title %></a></h1>
    <h2><%= training.trainingCenter %></h2>
    <h3><%= training.date %></h3>
    <p><%= training.description %></p>
    <table>
      <tr>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training) %></td>
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </table>
  <% end %>
</tbody>