<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>Trainingcenter:</strong>
  <%= @training.trainingCenter %>
</p>

<p>
  <strong>Date:</strong>
  <%= @training.date %>
</p>

<p>
  <strong>Website:</strong>
  <%= @training.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training.description %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
