<%= form_with(model: contact, local: true) do |form| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this home from being saved:</h2>
  
        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :object %>
      <%= form.text_field :website %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>