<p id="notice"><%= notice %></p>

<h1>Experiences</h1>

  <tbody>
    <%= link_to 'New Experience', new_experience_path %>
    <% @experiences.each do |experience| %>

      <h1><a href=<%= experience.website %>><%= experience.businessName %></a></h1>
      <h2><%= experience.work %></h2>
      <h3><%= experience.date %></h3>
      <p><%= experience.description %></p>
      <table>
        <tr>
          <td><%= link_to 'Show', experience %></td>
          <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
          <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
    <% end %>
  </tbody>


