<p id="notice"><%= notice %></p>

<h1>Developements</h1>

<tbody>
  <%= link_to 'New Developement', new_developement_path %>
  <% @developements.each do |developement| %>
    <h1><a href=<%= developement.website %>><%= developement.title %></a></h1>   
    <h2><%= developement.developmentDate %></h2>
    <p><%= developement.description %></p>
    <h3><%= developement.mtype %></h3>
      <tr>
        <td><%= link_to 'Show', developement %></td>
        <td><%= link_to 'Edit', edit_developement_path(developement) %></td>
        <td><%= link_to 'Destroy', developement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </table>
  <% end %>
</tbody>