<%= form_with(model: developpement, local: true) do |form| %>
  <% if developpement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(developpement.errors.count, "error") %> prohibited this developpement from being saved:</h2>

      <ul>
      <% developpement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :developmentDate %>
    <%= form.text_field :developmentDate %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
