<p id="notice"><%= notice %></p>

<h1>Developpements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Developmentdate</th>
      <th>Website</th>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developpements.each do |developpement| %>
      <tr>
        <td><%= developpement.title %></td>
        <td><%= developpement.developmentDate %></td>
        <td><%= developpement.website %></td>
        <td><%= developpement.description %></td>
        <td><%= developpement.type %></td>
        <td><%= link_to 'Show', developpement %></td>
        <td><%= link_to 'Edit', edit_developpement_path(developpement) %></td>
        <td><%= link_to 'Destroy', developpement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developpement', new_developpement_path %>
