<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @developpement.title %>
</p>

<p>
  <strong>Developmentdate:</strong>
  <%= @developpement.developmentDate %>
</p>

<p>
  <strong>Website:</strong>
  <%= @developpement.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @developpement.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @developpement.type %>
</p>

<%= link_to 'Edit', edit_developpement_path(@developpement) %> |
<%= link_to 'Back', developpements_path %>
