<!DOCTYPE html>
<html>
  <head>
    <title>CVBonnard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to "Connexion", new_user_session_path %>
  <%= link_to "Acceuil", homes_path %>
  <%= link_to "Expériences", experiences_path %>
  <%= link_to "Formation", trainings_path %>
  <%= link_to "Developement", developements_path %>
  <%= link_to "Contact", new_contact_path %>
  

  <body>
    <%= yield %>
  </body>
</html>
